@model Library.Models.IssuedBook

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/UserLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>IssuedBook</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Book_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Book_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Author_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Author_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.category)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.category)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IssuedON)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IssuedON)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReturnON)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReturnON)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SNO }) |
    @Html.ActionLink("Back To List", "Index")
</p>
