@model IEnumerable<Library.Models.IssuedBook>

@{
    ViewBag.Title = "Index";
}

<h2>Cart</h2>




<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">

            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("Online Library", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        </div>
        <div class="navbar-collapse collapse" style="float:right;">
            <ul class="nav navbar-nav">

                @*  <li> @Html.ActionLink("Books Menu", "Index", "books1")</li>
                    <li>  @Html.ActionLink("Enter new Book", "Create", "books1")</li>*@

                @*<li> @Html.ActionLink("Books Menu", "Index", "books1")</li>
                    <li>  @Html.ActionLink("Enter new Book", "Create", "books1")</li>*@
                @*<li>  @Html.ActionLink("View Books", "Index1", "books1")</li>
                    <li>  @Html.ActionLink("About", "About", "Home")</li>
                    <li>  @Html.ActionLink("Contact Us", "ContactUs", "Home")</li>*@
                <li>  @Html.ActionLink("Home", "Index", "Home")</li>
                <li>  @Html.ActionLink("Books List", "Index1", "books1")</li>
                <li>  @Html.ActionLink("Logout", "Logout", "Home")</li>

            </ul>
        </div>
    </div>
</div>

<div>
    @if (ViewBag.error != null)
    {
        <span class="badge badge-danger">@ViewBag.error</span>
    }
</div>
<br />







<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Book_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Author_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.category)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserEmail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IssuedON)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReturnON)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Book_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.category)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IssuedON)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReturnON)
            </td>
            <td>
                @Html.ActionLink("Return", "Return", new { id = item.SNO }) |
                @Html.ActionLink("Details", "Details", new { id = item.SNO }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.SNO })
            </td>
        </tr>
    }

</table>
