@model Library.Models.IssuedBook

@{
    ViewBag.Title = "Return_Book";
    Layout = "~/Views/Shared/UserLayout.cshtml";
}



<h3 style="color:red">Are you sure you want to Return this Book ?</h3>
<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Book_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Book_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Author_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Author_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.category)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.category)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IssuedON)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IssuedON)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReturnON)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReturnON)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Fine)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fine)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

<div class="form-actions no-color">
    <input type="submit" style="background-color:indianred; color:white" value="Return Book" class="btn btn-default" /> |


    @* @Html.ActionLink("Back to List", "Return")*@
    <input type="button" class="btn btn-primary" style="background-color:lightblue; color:black" value="Back To List" onclick="location.href='@Url.Action("Return")'" />


</div>
    <br />
<div>
    @if (ViewBag.error != null)
    {
        <span class="badge badge-danger">@ViewBag.error</span>
    }

</div>

}
</div>
