@model IEnumerable<Library.Models.IssuedBook>

@{
    ViewBag.Title = "Return";
    Layout = "~/Views/Shared/UserLayout.cshtml";
}

<h2 style="color:red">Books Issued</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Book_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Author_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.category)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserEmail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IssuedON)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReturnON)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Book_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.category)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IssuedON)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReturnON)
            </td>
            <td>

                @Html.ActionLink("Return", "Return_Book", new { id = item.SNO })

            </td>
        </tr>
    }

</table>
<div>
    @if (ViewBag.error != null)
    {
        <span class="badge badge-danger">@ViewBag.error</span>
    }

</div>


<input type="button" class="btn btn-primary" style="background-color:lightblue; color:black" value="Back To List" onclick="location.href='@Url.Action("Index1", "books1")'" />





