
@{
    // ViewBag.Title = "User Page";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2>User Page</h2>


<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">

            @Html.ActionLink("Online Library", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        </div>
        <div class="navbar-collapse collapse" style="float:right;">
            <ul class="nav navbar-nav">
                <li>  @Html.ActionLink("View Books", "Index1", "books1")</li>
                <li>  @Html.ActionLink("Return Books", "Return", "IssuedBooks")</li>
                <li>  @Html.ActionLink("About", "About", "Home")</li>
                <li>  @Html.ActionLink("Contact Us", "ContactUs", "Home")</li>

                <li>  @Html.ActionLink("Logout", "Logout", "Home")</li>

            </ul>
        </div>
    </div>
</div>
