
@{
    ViewBag.Title = "Admin Page";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2>Admin Page</h2>

<div class="row justify-content-md-start">
    <div class="col-md-4">
        <div class="card">
            
            <div class="card-body">
                @if (Session["FullName"] != null)
                {
                    @*<p>Name: @Session["FullName"].ToString()</p>
            <p>Email: @Session["Email"].ToString()</p>*@

                    @Html.ActionLink("Books Menu", "Index", "books1") <br />
                    @Html.ActionLink("Enter new Book", "Create", "books1") <br />
                    @Html.ActionLink("Delete a Book", "Delete", "books1") <br /> <br />

                    <a href="@Url.Action("Logout","Home")" class="btn btn-warning">Logout</a>
                }
            </div>
        </div>

    </div>
</div>