<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title Library Application</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr.js"></script>
    @*<script src="~/Scripts/modernizr-2.6.2.js"></script>*@

    <style>
        body {
            @* background-image: url("https://unblast.com/wp-content/uploads/2020/03/Illustrator-Vector-Illustration-1-1536x1106.jpg");

            background-image: url("https://img.freepik.com/free-vector/library-with-books-shelves-laptop-table_107791-1758.jpg?size=626&ext=jpg");
            background-image: url("https://library.kissclipart.com/20181213/toq/kissclipart-library-clipart-library-clip-art-0a3bd1adc0bb736d.png");*@
            @*background-size: 100% 490%;*@
            @*background-image: url("https://thumbs.dreamstime.com/b/people-line-queue-borrowing-books-librarian-modern-library-bookstore-interior-bookcase-books-reading-education-141829571.jpg");
            background-image: url("https://t3.ftcdn.net/jpg/03/15/03/20/360_F_315032003_2AxYIkQ9cGUXVUjYBQ0RLD5mEJedz0Jr.jpg");
            background-image: url("https://img.freepik.com/free-vector/public-library-flat-orthogonal-elements-collection-with-bookshelves-librarian-desk-reading-room-accessories-visitors_1284-27310.jpg?size=626&ext=jpg");*@
            @*background-image: url("https://library.kissclipart.com/20181213/toq/kissclipart-library-clipart-library-clip-art-0a3bd1adc0bb736d.png");
            background-size: 100% 550%;*@

            background-image: url("https://img.freepik.com/free-vector/female-smiling-librarian-standing-counter-book-shelf-paper-flat-vector-illustration-city-library-knowledge_74855-8364.jpg?size=626&ext=jpg");
            @*background-image: url("https://image.freepik.com/free-vector/library-with-books-shelves-laptop-table_107791-1758.jpg");*@


            background-repeat: no-repeat;
            background-size: 100% 600%;
        }

    </style>
    <style>
    .badge1 {
    color: red !important;
    background-color: none !important;
    }
    </style>
</head>
<body>

    <div class="navbar navbar-fixed-top " style="background-color:lightblue; color :black">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Library Management System", "Welcome", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse" style="float:right;">
                <ul class="nav navbar-nav">
                    <li> @Html.ActionLink("Books List", "Index", "books1")</li>
                    <li>  @Html.ActionLink("Enter New Book", "Create", "books1")</li>
                    <li>  @Html.ActionLink("Books Record", "AdminIndex", "IssuedBooks")</li>
                    <li>  @Html.ActionLink("Logout", "Logout", "Home")</li>

                </ul>
            </div>
        </div>
    </div>


    <div class="container body-content">
        @RenderBody()
        <div>



            <footer style="position:absolute; bottom:0px; height:30px; left:550px; right:100px; float:left; color:white; ">
                <p> Created by Srinivas & Shwetha </p>
            </footer>
        </div>
    </div>

    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    @*<script src="~/Scripts/jquery-1.10.2.min.js"></script>*@
    <script src="~/Scripts/bootstrap.min.js"></script>

</body>
</html>