<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title Library Application</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css"/>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr.js"></script>
    @*<script src="~/Scripts/modernizr-2.6.2.js"></script>*@

    <style>
        body {
            @* background-image: url("https://unblast.com/wp-content/uploads/2021/09/Data-Protection-Illustration-1536x1306.jpg");
            background-image: url("https://thumbs.dreamstime.com/b/digital-art-illustrator-background-toxic-air-pollution-industrial-plants-concepts-air-pollution-water-pollution-urban-138366024.jpg");
            background-image: url("https://cdn.dribbble.com/users/5025052/screenshots/11949906/media/402c78acf1836319985054fcb259ef9f.png?compress=1&resize=400x300&vertical=top");
            background-image: url("https://media.istockphoto.com/vectors/young-man-with-beard-reading-book-sitting-on-couch-vector-id1068179526?b=1&k=20&m=1068179526&s=612x612&w=0&h=B5fLJDnu0IBYTIjcr6hT-zEnIm-E9xVl2gNC9N87irQ=");
            background-image: url("https://cdni.iconscout.com/illustration/premium/thumb/reading-book-at-library-4489318-3723302.png");
            background-image: url("https://thumbs.dreamstime.com/b/digital-art-illustrator-background-toxic-air-pollution-industrial-plants-concepts-air-pollution-water-pollution-urban-138366024.jpg");
            background-image: url("https://images.unsplash.com/photo-1493723843671-1d655e66ac1c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTZ8fGxvZ2lufGVufDB8fDB8fA%3D%3D&w=1000&q=80");
            background-image: url("https://i.pinimg.com/originals/a0/37/19/a0371981e43485205d0278e18da3c0c8.jpg");*@
            background-image: url("https://ak.picdn.net/shutterstock/videos/1058406148/thumb/8.jpg");
            background-repeat: no-repeat;
            background-size: 100% 200%;
        }
             .navbar-fnt
              {
            color:black;
              }

            .navbar-backgrnd {
            color:blue;
                                 }
              
        
    </style>
</head>
<body>


    <div class="navbar navbar-fixed-top navbar-fnt  navbar-backgrnd"  style="background-color:royalblue; color :black">
        <div class="container">
            <div class="navbar-header">

                @Html.ActionLink("Library Management System", "Login", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse" style="float:right;">
                <ul class="nav navbar-nav">
                    <li>  @Html.ActionLink("Login", "Login", "Home")</li>
                    <li>  @Html.ActionLink("Register", "Register", "Home")</li>

                </ul>
            </div>
        </div>
    </div>



        <div class="container body-content">
            @RenderBody()
            <div>

           
               
                <footer style="position:absolute; bottom:0px; height:50px; left:550px; right:100px; overflow:auto; color:white; ">
                    <p> Created by Srinivas & Shwetha </p>
                </footer>
            </div>
        </div>

        <script src="~/Scripts/jquery-3.4.1.min.js"></script>
        @*<script src="~/Scripts/jquery-1.10.2.min.js"></script>*@
        <script src="~/Scripts/bootstrap.min.js"></script>

</body>
</html>