<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title Library Application</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr.js"></script>
    @*<script src="~/Scripts/modernizr-2.6.2.js"></script>*@

    <style>
        body {
            @* background-image: url("https://unblast.com/wp-content/uploads/2021/08/Face-Recognition-Illustration-1536x1152.jpg");
            background-image: url("https://www.seedprod.com/wp-content/uploads/2020/11/how-to-create-a-webinar-registration-page.jpg");
            background-image: url("https://png.pngtree.com/thumb_back/fh260/back_our/20190623/ourmid/pngtree-color-technology-sense-internet-data-background-image_238955.jpg");
            background-image: url("https://png.pngtree.com/thumb_back/fh260/background/20190221/ourmid/pngtree-simple-gradient-e-commerce-web-page-image_20835.jpg");*@
            background-image: url("https://freellustrustrations.s3.us-east-2.amazonaws.com/free-images/thumbimg_45942251thumbejpg.jpg");
            background-repeat: no-repeat;
            background-size: 100% 140%;
        }
        .badge1 {
            color: red !important;
            background-color: none !important;
        }
    </style>
</head>
<body>


    <div class="navbar navbar-fixed-top navbar-light" style="background-color:lightblue">
        <div class="container-fluid">
            <div class="navbar-header">

                @Html.ActionLink("Library Management System", "Login", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse" style="float:right;">
                <ul class="nav navbar-nav">
                    <li>  @Html.ActionLink("Login", "Login", "Home")</li>
                    <li>  @Html.ActionLink("Register", "Register", "Home")</li>

                </ul>
            </div>
        </div>
    </div>



    <div class="container body-content">
        @RenderBody()
        <div>



            
        </div>
    </div>

    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    @*<script src="~/Scripts/jquery-1.10.2.min.js"></script>*@
    <script src="~/Scripts/bootstrap.min.js"></script>

</body>
</html>