<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title Library Application</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr.js"></script>
    @*<script src="~/Scripts/modernizr-2.6.2.js"></script>*@
</head>
<body>

    <div class="navbar  navbar-fixed-top navbar-light" style="background-color:lightgray">
        <div class="container">
            <div class="navbar-header">
               
                @Html.ActionLink("Library Management System", "Welcome1", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse" style="float:right;">
                <ul class="nav navbar-nav">
                    <li>  @Html.ActionLink("View Books", "Index1", "books1")</li>
                    <li>  @Html.ActionLink("Return Books", "Return", "IssuedBooks")</li>
                    <li>  @Html.ActionLink("About", "About", "Home")</li>
                    <li>  @Html.ActionLink("Contact Us", "ContactUs", "Home")</li>

                    <li>  @Html.ActionLink("Logout", "Logout", "Home")</li>

                </ul>
            </div>
        </div>
    </div>

    <div class="container body-content" >
        <div>
            @RenderBody()
         
            
        </div>
    </div>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    @*<script src="~/Scripts/jquery-1.10.2.min.js"></script>*@
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>