<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title Library Application</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr.js"></script>
    @*<script src="~/Scripts/modernizr-2.6.2.js"></script>*@

    <style>
        body {
            @*background-image: url("https://unblast.com/wp-content/uploads/2019/11/Boy-and-Books-Illustration-1-1536x1024.jpg");
            background-image: url("https://cdn3.vectorstock.com/i/1000x1000/66/32/students-in-library-peoples-reading-books-vector-18656632.jpg");
            background-image: url("https://cdn1.vectorstock.com/i/1000x1000/16/75/cartoon-people-at-table-read-books-library-room-vector-18591675.jpg");*@
            background-image: url("https://cdn3.vectorstock.com/i/1000x1000/08/42/library-interior-with-bookshelves-people-choosing-vector-31410842.jpg");
            background-repeat: no-repeat;
            background-size: 100% 650%;
        }
    </style>
</head>
<body>


    <div class="navbar  navbar-fixed-top navbar-light" style="background-color:lightblue">
        <div class="container">
            <div class="navbar-header">

                @Html.ActionLink("Library Management System", "Welcome1", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse" style="float:right;">
                <ul class="nav navbar-nav">
                    <li>  @Html.ActionLink("View Books", "Index1", "books1")</li>
                    <li>  @Html.ActionLink("Return Books", "Return", "IssuedBooks")</li>
                    <li>  @Html.ActionLink("About", "About", "Home")</li>
                    <li>  @Html.ActionLink("Contact Us", "ContactUs", "Home")</li>

                    <li>  @Html.ActionLink("Logout", "Logout", "Home")</li>

                </ul>
            </div>
        </div>
    </div>




    <div class="container body-content">
        @RenderBody()
        <div>



            <footer style="position:absolute; bottom:0px; height:45px; left:550px; right:100px; overflow:auto;  ">
                <p> Created by Srinivas & Shwetha </p>
            </footer>
        </div>
    </div>

    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    @*<script src="~/Scripts/jquery-1.10.2.min.js"></script>*@
    <script src="~/Scripts/bootstrap.min.js"></script>

</body>
</html>