@*@model IEnumerable<Library.Models.Online_Book_Orders>

    @{
        ViewBag.Title = "Index";
    }

    <h2>Index</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.First_Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Last_Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Area)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Postal_Code)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone_Number)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th></th>
        </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.First_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Last_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Area)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Postal_Code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone_Number)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
                @Html.ActionLink("Details", "Details", new { id=item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.Id })
            </td>
        </tr>
    }
    </table>*@



@model Library.Models.Online_Book_Orders

@{

    Layout = "~/Views/Shared/UserLayout.cshtml";
}


<div class="row justify-content-md-center">
    <div>

        @using (Html.BeginForm("Index", "Online_Book_Orders", FormMethod.Post))
        {


            @Html.AntiForgeryToken()


            <div class="card">

                <div class="card-body" style="color:black;">
                    <div class="form-group">
                        @Html.LabelFor(m => m.First_Name)
                        @Html.TextBoxFor(m => m.First_Name, "", new { @class = "form-control", @placeholder = "First Name" })
                        @Html.ValidationMessageFor(m => m.First_Name, "", new { @class = "badge1 badge1-danger" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Last_Name)
                        @Html.TextBoxFor(m => m.Last_Name, "", new { @class = "form-control", @placeholder = "Last Name" })
                        @Html.ValidationMessageFor(m => m.Last_Name, "", new { @class = "badge1 badge1-danger" })

                    </div>

                    <div class="form-group">
                        @Html.LabelFor(m => m.Area)
                        @Html.TextBoxFor(m => m.Area, new { @class = "form-control", @placeholder = "Area" })
                        @Html.ValidationMessageFor(m => m.Area, "", new { @class = "badge1 badge1-danger" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.City)
                        @Html.TextBoxFor(m => m.City, new { @class = "form-control", @placeholder = "City" })
                        @Html.ValidationMessageFor(m => m.City, "", new { @class = "badge1 badge1-danger" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Postal_Code)
                        @Html.TextBoxFor(m => m.Postal_Code, new { @class = "form-control", @placeholder = "Postal Code" })
                        @Html.ValidationMessageFor(m => m.Postal_Code, "", new { @class = "badge1 badge1-danger" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Phone_Number)
                        @Html.TextBoxFor(m => m.Phone_Number, new { @class = "form-control", @placeholder = "Phone Number" })
                        @Html.ValidationMessageFor(m => m.Phone_Number, "", new { @class = "badge1 badge1-danger" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Email)
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Email" })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "badge1 badge1-danger" })
                    </div>


                    <br />
                    <div class="form-group">
                        <input type="submit" name="submit" class="btn btn-primary" value="Confirm Order" />





                    </div>

                </div>
            </div>

        }
    </div>
</div>



