@model Library.Models.book
@{
    ViewBag.Title = "Cart";
    Layout = "~/Views/Shared/UserLayout.cshtml";
}
<h2 style="color:red">Cart</h2>



<div>
    <span class="badge badge-danger">@ViewBag.error</span>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Book_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Book_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Author_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Author_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.category)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.category)
        </dd>

    </dl>
</div>
<p>
    
    <input type="button" style="background-color:lightblue; color:black" value="Back To List" onclick="location.href='@Url.Action("Index1", "books1")'" />


</p>
