@model Library.Models.book

@{
    ViewBag.Title = "UserDetails";
    Layout = "~/Views/Shared/UserLayout.cshtml";
}

<h2 style="color:red">Details</h2>


<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Book_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Book_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Author_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Author_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.category)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.category)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantity)
        </dd>

    </dl>
</div>
<p>

    @* @Html.ActionLink("Back To List", "Index1")*@
    <input type="button" class="btn btn-primary" style="background-color:lightblue; color:black" value="Back To List" onclick="location.href='@Url.Action("Index1")'" />


</p>
